body, html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.resume-container {
    padding: 20px;
    margin: auto;
    max-width: 1024px;
    background: #fff;
}
.profile-img {
    width: 200px; /* Or any size you prefer */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Circular profile picture */
    display: block;
    margin: 0 auto 20px; /* Center align in the sidebar with margin bottom */
}

.sidebar {
    background: #f8f9fa;
    padding: 20px;
}

.sidebar h2, .main-content h2 {
    font-size: 22px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.main-content header h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.main-content header h3 {
    font-size: 25px;
    color: #666;
    margin-bottom: 20px;
}

.main-content section {
    margin-bottom: 20px;
}

.main-content .job .dates {
    font-size: 16px;
    font-style: italic;
    color: #777;
}

.contact p, .about-me p, .interests li {
    font-size: 16px;
    line-height: 1.5;
}

.contact p a {
    color: #333;
    text-decoration: none;
}

.contact p a:hover {
    text-decoration: underline;
}

.interests ul {
    list-style: none;
    padding-left: 0;
}

.interests li::before {
    content: "• ";
    color: #333;
    font-weight: bold;
}

@media (max-width: 991px) {
    .resume-container {
        padding: 20px;
    }

    .sidebar {
        background: none;
        padding: 0;
    }
}
.experience .job + .job {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 20px;
}

.experience h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.experience .dates {
    font-size: 14px;
    font-style: italic;
    color: #888;
    margin-bottom: 10px;
}

.experience p {
    font-size: 16px;
    line-height: 1.6;
}

.social-links a {
    color: #ecf0f1;
    margin-right: 10px;
    font-size: 24px; /* Adjust size as necessary */
}

.social-links a:hover {
    color: #3498db;
}

.qr-code-img {
    width: 100px; /* Adjust size as necessary */
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
