/* Base Styling */
body, html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ffffff;
    background-color: #000000; /* Overall background color */
    margin: 0;
    padding: 0;
}

/* Resume Container Styling */
.resume-container {
    padding: 20px;
    margin: auto;
    max-width: 1024px;
    background: #ffffff; /* White background for main content area */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden; /* Prevents any child elements from overflowing */
}

/* Sidebar Styling */
.sidebar {
    background-color: #000080; /* Navy blue background for the sidebar */
    color: #ffffff;
    padding: 20px;
}

.sidebar h2 {
    font-size: 22px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

/* Main Content Styling */
.main-content {
    background-color: #b0b0b0; /* Bright grey background */
    padding: 20px;
}

.main-content header h1, .main-content header h3 {
    color: #2c3e50;
}

.main-content section {
    margin-bottom: 20px;
}

/* Responsive Layout */
@media (min-width: 768px) {
    .resume-container {
        display: flex;
        flex-wrap: wrap;
    }

    .sidebar {
        flex: 1 0 250px;
    }

    .main-content {
        flex: 3 1 750px;
    }
}

@media (max-width: 767px) {
    .sidebar, .main-content {
        width: 100%;
        flex: 0 0 100%;
    }
}

/* Contact Information Styling */
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item i {
    min-width: 24px;
    margin-right: 10px;
    font-size: 16px;
}

/* Icon Styling */
.social-links a {
    margin-right: 10px;
    font-size: 24px;
    color: inherit; /* Inherits color from parent for easier color management */
}

.social-links a.facebook {
    color: #3b5998;
}

.social-links a.instagram {
    color: #e4405f;
}

.social-links a.twitter {
    color: #1da1f2;
}

.social-links a.github {
    color: #333;
}

.social-links a.linkedin {
    color: #0077b5;
}

/* Media Queries for Text Sizing */
@media (max-width: 767px) {
    body, html {
        font-size: 14px; /* Smaller text on smaller devices */
    }

    .sidebar h2, .main-content header h1, .main-content header h3 {
        font-size: smaller; /* Smaller headings on smaller devices */
    }
}

/* Google Maps Styling */
.map iframe {
    width: 100%;
    height: 250px; /* Fixed height, adjust as necessary */
    border: none;
    margin-top: 10px;
}
